.box-b{
    position: absolute;
    background: #1E1F25;
    height:31.81vh;
    width: 54.1vw;
    left: 20.90vw;
    top: 28.53vh;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-b #chart{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;

}