.box-d{
    position: absolute;
    background: #1E1F25;
    height: 84.95vh;
    width: 21.39vw;
    left: 76.80vw;
    top: 12.57vh;
    border-radius: 20px;

}

.box-d .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 6.49%;
    right: 6.49%;
    top: 2.24%;
    bottom: 2.13%;
    
}

.notifications{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 100%;
    height: 24px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 1.90vh;
}

.notifications img{
    position: static;
    left: 0%;
    right: 84.62%;
    top: 0%;
    bottom: 0%;
    flex: none;
    order: 0;
    flex-grow: 0;   
}

.notifications p{
    position: static;
    width: 122px;
    height: 24px;
    left: 0px;
    top: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.noti-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 100%;
    height: 27.85vh;
    left: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.noti-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 100%;
    height: 5.52vh;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.noti-item img{
    position: relative;
    width: 4.38vh;
    height: 4.38vh;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;

}

.noti-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 12.33vw;
    height: 5.52vh;
    left: 66px;
    top: 0px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px;

}

.noti-desc p:nth-child(1){
    position: static;
    width: 4.03vw;
    height: 1.52vh;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.24vh;
    line-height: 1.52vh;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0px;
    margin-bottom: 2px;
}

.noti-desc p{
    position: static;
    width: 13.33vw;
    height: 1.52vh;
    left: 0px;
    top: 21px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.24vh;
    line-height: 1.52vh;
    color: #757B8C;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 2px;
    margin-top: 0px;
}

.noti-desc p:last-child{
    position: static;
    width: 13.33vw;
    height: 1.52vh;
    left: 0px;
    top: 21px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.24vh;
    line-height: 1.52vh;

    color: #757B8C;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 0px;
    margin-top: 0px;
}



.customers{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 100%;
    height: 24px;
    left: 0px;
    top: 422px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    margin: 20px 0px;
}

.customers img{
    position: static;
    left: 0%;
    right: 84.62%;
    top: 422px;
    bottom: 0%;

    flex: none;
    order: 0;
    flex-grow: 0;   
}

.customers p{
    position: static;
    width: 100%;
    height: 24px;
    left: 0px;
    top: 422px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.cust-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: static;
    width: 100%;
    height: 11.14vh;
    left: 0px;
    top: 486px;

    flex: none;
    order: 5;
    flex-grow: 0;
    margin-top: 0px;
    margin-bottom: 20px;
}



.cust-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 100%;
    height: 5.52vh;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cust-item img{
    position: relative;
    width: 4.38vh;
    height: 4.38vh;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;

}

.cust-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0px;

    position: static;
    width: 12.33vw;
    height: 5.52vh;
    left: 66px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px;

}

.cust-desc p:nth-child(1){
    position: static;
    width: 4.03vw;
    height: 1.52vh;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.24vh;
    line-height: 1.52vh;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0px;
    margin-bottom: 2px;
}

.cust-desc p{
    position: static;
    width: 13.33vw;
    height: 1.52vh;
    left: 0px;
    top: 21px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.24vh;
    line-height: 1.52vh;
    color: #757B8C;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 2px;
    margin-top: 0px;
}

.cust-desc p:last-child{
    position: static;
    width: 13.33vw;
    height: 1.52vh;
    left: 0px;
    top: 21px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.24vh;
    line-height: 1.52vh;
    color: #757B8C;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 0px;
    margin-top: 0px;
}

.invite{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    
    width: 100%;
    height: 25.38vh;
    left: 0px;
    top: 618px;

    background: #246CF9;
    border-radius: 15px;
    flex: none;
    order: 7;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 0px;
    margin-bottom: 20px;
}

.invite img{
    width: 4.38vh;
    height: 4.38vh;
    left: 20px;
    top: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0px;
    margin-bottom: 10px;
}

.invite-note{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 6.48vh;
    left: 20px;
    bottom: 7.57vh;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 10px;

}

.invite-note h4{
    
    width: 100%;
    height: 24px;
    left: 0px;
    top: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin:  0px;
}

.invite-note p{
    width: 100%;
    height: 34px;
    left: 0px;
    top: 34px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;

    opacity: 0.6;


    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin:  1px 0px;
}

.invite-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 8px;
    
    width: 100%;
    height: 6vh;
    left: 20px;
    bottom: 2.9vh;
    background: #FFFFFF;
    border-radius: 15px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px;

}

.invite button{
    width: 72px;
    height: 17px;
    left: 78px;
    top: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #246CF9;
    background-color: #fff;
    border: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

/* jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj */

@media screen and (max-width: 900px){
    .box-d{
        top: 900px;
        width: 88.5vw;

        margin-top: 10px;
    }

    .container .notifications{
        order: 0;
    }

    .container .noti-details{
        order: 1;
        height: 266px;
    }

    .container .customers{
        order: 2;
    }

    .container .cust-details{
        order: 3;
        height: 115px;
    }

    .noti-item, .cust-item{
        margin: 3px 0px;
    }

    .noti-item .noti-desc{
        width: 70%;
    }

    .noti-item .noti-desc p{
        width: 100%;
    }

    .cust-details .cust-desc{
        width: 70%;
        justify-content: center;
    }

    .cust-item .cust-desc p {
        width: 100%;
        margin-bottom: 2px;
    }


}