.box-c{
    position: absolute;
    background: #1E1F25;
    height:29.81vh;
    width: 54.1vw;
    left: 20.90vw;
    top: 67.71vh;
    border-radius: 20px;

}

table{
    position: absolute;
    width: 100%;
    height: 100%; 
    left: 0%;
    right: 0%;
    top: 5px;
    bottom: 0%;
    background: transparent;
    border-radius: 20px;
    border-collapse: separate;
    border-spacing: 0px 10px;
    text-align: left;
    overflow: hidden;
}

.box-c th:first-child p, .box-c th:last-child p{
    visibility: hidden;
}

.box-c th p{
    font-size: 0.85rem;
    letter-spacing: 0.02rem;
}

.box-c td p{
    color: #757B8C;
    
    letter-spacing: 0.02rem;
}

.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-container input[type="checkbox"]{
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before{
    content: '\2713';
    color: white;
    width: 15px;
    height: 15px;
    border: 2px solid #3C4254;
    background-color: #282C38;
    border-radius: 5px;
}

.checkbox-container label{
    display: flex;
}
.checkbox-container input[type="checkbox"]:checked{
    opacity: 1;
}
.checkbox-container input[type="checkbox"]:checked + label::before{
    content: '\002714';
    color: white;
    background-color: #246CF9;
    border: 2px solid #246CF9;
}

td img{
    height: 25px;
    width: 25px;
}

td .dots{
    height: 15px;
    width: 3px;
}

td .name{
    display: flex;
    flex-direction: row;
    align-items: center;
}

td .alter{
    display: flex;
    justify-content: center;
}

td .price{
    width: 65%;
    height: 65%;
    background: rgba(48, 224, 161, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#price{
    color: #30E0A1;
}

td .earning{
    width: 65%;
    height: 65%;
    background: rgba(36, 108, 249, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#earning{
    color: #246CF9;
}

tbody tr:nth-child(odd){
    background-color: #282C38;
}



