.box-g{
    position: absolute;
    height:6.21vh;
    width: 54.1vw;
    left: 20.90vw;
    top: 11.53vh;
    border-radius: 20px;

    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly; 
}

.box-g h4{
    width: 222px;
    height: 24px;
    left: 301px;
    top: 126px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 3px;

}

.box-g p{
    width: 300px;
    height: 17px;
    left: 301px;
    top: 160px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    color: #757B8C;
}