.box-a{
    position: absolute;
    background: #1E1F25;
    height: 95.05vh;
    width: 17.30vw;
    left: 1.80vw;
    top: 2.48vh;
    border-radius: 20px;


    
}

@media screen and  (max-width: 900px) {
    
    .box-a{
        left: -200px;
    }

}


.box-a .title{
    display: flex;
    flex-direction: row;;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 13.68vw;
    height: 2.76vh;
    left: 1.80vw;
    top: 2.48vh;

}

.title h3{
    position: static;
    width: 72px;
    height: 29px;
    left: 31px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}

.box-a hr{
    position: absolute;
    width: 17.30vw;
    height: 0px;
    left: 0px;
    top: 7.52vh;
    border: 0.095vh solid #282C38;
}

.dash-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;

    position: absolute;
    width: 17.30vw;
    height: 24.76vh;
    left: 0px;
    top: 9.14vh;


}

.dashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.95vh 0.69vw 0.95vh 1.80vw;

    position: static;
    width: 17.30vw;
    height: 4.19vh;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    background-color: #1E1F25;
}

.dashboard:hover{
    background-color: #282C38;
}

.dash-box p{
    color: #757B8C;
    font-size: 14px;
}

.store{
    background: #282C38;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.95vh 0.69vw 0.95vh 1.80vw;

    position: static;
    width: 17.30vw;
    height: 4.19vh;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.store p{
    color: #FFFFFF;
}

.integrations{
    position: absolute;
    width: 7.92vw;
    height: 1.61vh;
    left: 1.80vw;
    top: 36.76vh;

    margin: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #3C4254;
}

.inte-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;

    position: absolute;
    width: 17.30vw;
    height: 14.48vh;
    left: 0px;
    top: 42.09vh;

    color: #757B8C;

}

.inte-box p{
    color: #757B8C;
    font-size: 14px;

}

.accounts{
    position: absolute;
    width: 5.21vw;
    height: 1.62vh;
    left: 1.80vw;
    top: 60vh;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0px;

    color: #3C4254;
}

.acco-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;

    position: absolute;
    width: 17.30vw;
    height: 9.33vh;
    left: 0px;
    top: 63.43vh;
}

.user-box{
    position: absolute;
    width: 17.30vw;
    height: 11vh;
    left: 0px;
    bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background: #282C38;
    border-radius: 0px 0px 20px 20px;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 13.7vw;
    height: 5.7vh;


}

.user img{
    position: static;
    width: 42px;
    height: 42px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 10px;

}

.user-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 118px;
    height: 5.7vh;
    left: 52px;
    top: 2.5px;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.user-details p:nth-child(1){
    position: static;
    width: 99px;
    height: 17px;
    left: 0px;
    top: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;
}

.user-details p:nth-child(2){
    position: static;
    width: 118px;
    height: 15px;
    left: 0px;
    top: 22px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0%;
    
    color: #3C4254;
}


