*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #141518;
    font-family: 'Inter', sans-serif;
    font-size: 1px;
}

a{
    text-decoration: none;
}




.box-b{
    position: absolute;
    background: #1E1F25;
    height:29.81vh;
    width: 54.1vw;
    left: 20.90vw;
    top: 21.53vh;
    border-radius: 20px;

}

.box-c{
    position: absolute;
    background: #1E1F25;
    height:29.81vh;
    width: 54.1vw;
    left: 20.90vw;
    top: 67.71vh;
    border-radius: 20px;

}

.box-d{
    position: absolute;
    background: #1E1F25;
    height: 84.95vh;
    width: 21.39vw;
    left: 76.80vw;
    top: 12.57vh;
    border-radius: 20px;

}