*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #141518;
    font-family: 'Inter', sans-serif;
    font-size: 1px;
}

a{
    text-decoration: none;
}
/* 
@media screen and  (max-width: 900px) {
    
    .left container{
        right: -200px;
    }
} */




