
.wraper{
    position: relative;
}

.navbar{
    position: absolute;
    background: #1E1F25;
    flex-grow: 1;
    width: 77.30vw;
    height: 7.62vh;
    left: 20.90vw;
    top: 2.48vh;
    border-radius: 20px;
}

@media screen and  (max-width: 900px) {
    
    .navbar{
        left: 0px;
        width: 100%;
        border-radius: 0px;
        top: 0vh;
    }

    .nav-left a, .nav-left img, .nav-left .nav-left-a, .nav-right div, .nav-right .vr{
        display: none;
    }

    .nav-right .search-box {
        display:none !important;
    }
    /* .nav-left, .nav-right .search-box, .nav-right .vr, .nav-right a:last-child{
        display: none;
    } */

    .nav-right .user-icon{
        display: visible !important;
    }
}

.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 371.1px;
    left: 19.95px;
    top: 31.88%;
    bottom: 31.88%;
}

h3{
    position: static;
    width: 62px;
    height: 29px;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.vr{
    position: static;
    height: 23px;
    left: 82px;
    top: 3px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 20px;
}

.nav-left-a{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 267.1px;
    height: 24px;
    left: 104px;
    top: 2.5px;

    flex: none;
    order: 2;
    flex-grow: 1;
}

.folder-icon{
    
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px; color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0 ;
    margin: 0 10px 0 12px;
}

.folder-select{display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 71.1px;
    height: 17px;
    left: 132px;
    top: 3.5px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 10px;
}

.folder-select select{
    background-color:#1E1F25;
    border: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #3C4254;

    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.nav-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;

    position: absolute;
    left: 52.56%;
    right: 1.8%;
    top: 25%;
    bottom: 25%;
}

.navbar .search-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;

    position: static;
    width: 260px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #282C38;
    border: 1px solid #3C4254;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;
}

.navbar .search-box input{
    background-color: #282C38;
    border: none;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    
    color: #757B8C;

    padding-left: 10px;


}

.nav-right .vr {
    margin: 0px 10px 0px;
}

.nav-right a{
    position: static;
    left: 59.45%;
    right: 35.83%;
    top: 20%;
    bottom: 20%;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 10px;
}

.premium{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px 4px 4px;

    position: static;
    width: 105px;
    height: 24px;
    left: 412px;
    top: 8px;
    background: #282C38;
    border: 0.5px solid #3C4254;
    box-sizing: border-box;
    border-radius: 5px;
    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0px 20px;
}

.premium p{
    position: static;
    width: 60px;
    height: 15px;
    left: 28px;
    top: 4.5px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFB545;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.premium img{
    position: static;
    left: 4.17%;
    right: 79.17%;
    top: 16.67%;
    bottom: 16.67%;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.nav-right .user-icon{
    display: none;
}